body{
    font-family: 'Urbanist', sans-serif;
    background-color: #f5f5f5;
    padding: 50px;
}
h1 {
    font-size: 45px;
    border-bottom: 3px solid #ff595e;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
p{
    font-size: 25px;
}
button{
    background-color: #6a4c93;
    color: #f5f5f5;
    font-size: 25px;
    border: 0px;
    box-shadow: 0px;
    padding: 12px;
}

.choice-btn{
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
    padding: 15px;
    width: 75%;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1982c4;
    cursor: pointer;
}
#grading{
    font-size: 35px;
    font-weight: 700;
    color: grey;
    width: auto;
}
input{
    font-size: 35px;
    border: 2px solid #ff595e;
}
header{
    display: flex;
    justify-content: space-between;
}
.timer{
    display: flex;
    justify-content: space-evenly;
}
